.video {
  background-color: #131314;
}

.video__wrap {
  margin: 0 auto;
  margin-bottom: 98px;
  padding-top: 121px;
  width: 100%;
  text-align: center;
}

.video__wrap h2 {
  margin: 0;
  margin-bottom: 18px;
  padding-right: 6px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #ffffff;
}

.video__wrap p {
  margin: 0 auto;
  max-width: 340px;
  padding-left: 2px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.005em;
  color: rgba(255, 255, 255, 0.7);
}

.video__picture {
  position: relative;
  margin-top: -43px;
  top: 102px;
  left: 0;
}

.video__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__link svg:hover {
  width: 85px;
  height: 85px;
}

.video__link:focus svg {
  outline: 1px solid #00d9ff;
}

@media (max-width: 768px) {
  .video__wrap {
    max-width: 503px;
    margin-bottom: 85px;
    padding-top: 70px;
  }

  .video__wrap h2 {
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 20px;
  }

  .video__wrap p {
    max-width: 459px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .video__picture {
    margin-top: -50px;
    top: 89px;
    left: 0;
  }

  .video__link svg {
    width: 90px;
    height: 90px;
  }

  .video__link svg:hover {
    width: 105px;
    height: 105px;
  }
}

@media (max-width: 320px) {
  .video__wrap {
    max-width: 288px;
    margin-bottom: 48px;
    padding-top: 82px;
    padding-bottom: 45px;
  }

  .video__wrap h2 {
    margin-left: -10px;
    padding-right: 0;
    padding-left: 0;
  }

  .video__wrap p {
    width: 288px;
    padding-left: 0;
    padding-right: 0;
  }

  .video__picture {
    margin-top: -48px;
    top: 100px;
  }

  .video__link svg {
    width: 65px;
    height: 65px;
  }

  .video__link svg:hover {
    width: 85px;
    height: 85px;
  }
}
